link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
link(rel='stylesheet prefetch' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/animate.min.css')
link(rel="stylesheet" href="http://hsali.github.io/chatting-script/output/css/style.css")
.mmc-wrapper
    nav#mmc-nav.mmc-nav
        .mmc-default-nav
            .mmc-main-nav
                .mmc-toggle
                .mmc-main-nav-item
                    a.mmc-main-nav-item-link(href="#")
                        select#channelSelection(onchange='ChangeChannel(this.value)')
                .mmc-options
                    select#teamSelection(onchange='teamSelection(this.value)')
    .mmc-inner#mmc-inner
        .mmc-content#mmc-content
    .mmc-bottom#mmc-bottom
        textarea.mmc-input#mmc-input
        .mmc-send#mmc-send
#mmc-onoffbutton(onclick='clickchat()')
script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js" type="text/javascript")

script(src="js/temp.js" type="text/javascript")
script(src="http://hsali.github.io/chatting-script/output/js/index.js" type="text/javascript")
script(src="http://hsali.github.io/chatting-script/output/js/basics.js" type="text/javascript")
script(src="http://hsali.github.io/chatting-script/output/js/MattermostApi.js" type="text/javascript")